<%= form_with model: @test do |form| %>
<%= render 'shared/errors', resource: @test %>
<p>
  <%= form.label :title %>
  <%= form.text_field :title, id: :test_title %>
</p>
  <p>
    <%= form.label :level %>
    <%= form.number_field :level %>
    <%= form.submit %>
  </p>

  <p>
    <%= form.label :category_id %>
    <%= form.collection_select :category_id, Category.all, :id, :title, prompt: true %>
  </p>
<% end %>
