<%= form_with url: sessions_path do |form| %>
<% if flash_helper(:alert) %>
  <%=   content_tag :p, flash_helper(:alert), class: 'flash alert' %>
<% end %>
   <p>
     <%= form.label :email %>
     <%= form.text_field :email, id: :user_email %>
   </p>
   <p>
     <%= form.label :password %>
     <%= form.password_field :password, id: :user_password %>
   </p>

   <p> <%= form.submit %> </p>
<% end %>
