<div class="form-group">


<%= form_with model: [:admin, @badge] do |form| %>
<%= render 'shared/errors', resource: @badge %>
<p>
  <%= form.label :name %>
  <%= form.text_field :name, id: :badge_name %>
</p>
<p>
  <%= form.label :message%>
  <%= form.text_field :message %>
</p>
<p>
  <%= form.label :label%>
  <%= form.text_field :label %>
</p>
  <p>
    <%= @badge.full_url %>
  </p>
<p>
  <%= form.label :color %>
  <%= form.color_field :color %>
</p>
   <%= form.label :badge_type %><br>
   <%= form.select :badge_type, Badge::BADGE_TYPES%>



   <%= form.label :type_param %>
   <%= form.text_field :type_param, id: :type_param %>

   <%= form.submit %>

<% end %>

<%= link_to t('.back'), admin_badges_path %>
</div>
