<div class="nav nav-admin">
  <p><%=t('.admin_panel')%></p>
  <a class="nav-admin user"><%= link_to t('.home'), admin_tests_path %></a>
  <a class="nav-admin user"><%= link_to t('.switch'), tests_path %></a>
  <a class="nav-admin user">
    <% if user_signed_in? %>
      <p><%= t('.greeter', email: current_user.email) %></p>
      <%= link_to t('.exit'), destroy_user_session_path, method: :delete, data: { confirm: 'Are you sure?' }, class: "active" %>
    <% end %> </a>
</div>
