<h1><%= t('.header', title: @test_passage.test.title) %></h1>
<h2><%= t('.correct', correct: @test_passage.correct_questions) %></h2>
<h2><%= t('.total_questions', questions_count: @test_passage.test.questions.count) %></h2>
<h2><%= t('.percent', percent: @test_passage.percent) %></h2>
<h2> <%= t('.result') %> <%= result_handler(@test_passage)  %></h2>
<%= link_to 'Back', tests_path %>
