<h2>Correct Answers: <%= @test_passage.correct_questions %> </h2>
<h2>Total Right Answers: <%= @test_passage.test_right_answers  %> </h2>
<h2> Percents: <%= @test_passage.percent  %>%</h2>
<h2>Result: <%= @test_passage.test_passed? ? good_result : bad_result  %></h2>
<%= link_to 'Back', tests_path %>
