
<div class="row justify-content-center mt-4">

  <div class="col col-md-10">
    <h2><%= t('.header', title: @test_passage.test.title) %></h2>

      <table class="table">
        <tbody>
          <tr>
              <td>
              <%= t('.correct') %>
              <button type="button" class="btn btn-success m-r-sm"><%= @test_passage.correct_questions %></button>

              </td>
            </tr>
            <tr>
              <td>
              <%= t('.total_questions') %>
              <button type="button" class="btn btn-primary m-r-sm"><%=@test_passage.test.questions.count%></button>
              </td>
            </tr>
            <tr>
              <td>
              <%= t('.result') %>
              <%= result_handler(@test_passage) %>
              </td>
            </tr>
            <tr>
            
          </tr>
        </tbody>
      </table>
    <%= button_to 'Back', tests_path, method: :get, class: "btn btn-primary m-r-sm" %>

  </div>
</div>
