<%= link_to "Test Guru", root_path, class: 'navbar-brand h6' %>

<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
     <span class="navbar-toggler-icon"></span>
   </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
  <% if user_signed_in? %>
    <% if current_user.admin? %>
      <ul class="navbar-nav">
        <li class="nav-item">
        	<%= link_to t('.switch'), request.path.eql?(tests_path) ? admin_tests_path : tests_path, class: "btn btn-outline-danger" %>
        </li>
    </ul>
    <% end %>
      <ul class="nav navbar-nav ms-auto me-2">
        <li class="navbar-brand">
        <h6>Welcome, <b><%= current_user.email %></b></h6>
        </li>
      </ul>


    <%= link_to t('.exit'), destroy_user_session_path, method: :delete, class: "nav-item btn btn-outline-danger me-2" %>
    <% else %>
    <ul class="nav navbar-nav ms-auto me-2 ">
      <li  class="nav-link">
        <%= link_to 'en', lang: 'en'%> |
        <%= link_to 'ru', lang: 'ru' %>
      </li>
    <%= link_to t('.login'), new_user_session_path, class: "btn btn-outline-primary me-2" %>
    <%= link_to t('.sign_up'), new_user_registration_path, class: "btn btn-outline-primary me-2"%>
    </ul>
    </div>
<% end %>
