
<tr>
  <td class="align-middle">
    <%= content_tag :span, test.title, class: 'test-title', data: { test_id: test.id } %>
    <%= render 'form-inline', test: test == @test ? @test : test %>
  </td>

  <td> <%= test_level(test) %> </td>
  <td><%= test.questions.count %></td>

  <td>

    <% if  test.timer.nil? %>
     <%= render 'create_form_timer', test: test == @test ? @test : test %>
    <% else %>
        <%= ActiveSupport::Duration.build(test.timer.timer_value.to_i).inspect  %>
         <%= render 'update_form_timer', test: test == @test ? @test : test %>
         <%= link_to 'delete_timer', admin_timer_path(test.timer), method: :delete,local: true, data: { confirm: 'Are you sure?' } %>
    <% end %>
  </td>

  <td class="align-middle"><%= link_to t('.edit'), edit_admin_test_path(test),
                                                   class: 'form-inline-link',
                                                    data: { test_id: test.id } %>
  </td>

  <td><%= link_to t('.show_test'), admin_test_path(test) %></td>
  <td>
    <%= link_to t('.delete'), admin_test_path(test), method: :delete, data: { confirm: 'Are you sure?' } %>
  </td>
  <td><%= link_to t('.new_question'), new_admin_test_question_path(test) %></td>
  <td>
    <%= form_with model: [:admin, test], url: public_test_admin_test_path(test), class: "form-check form-switch" do |form| %>
        <%= form.check_box :published, class: 'form-check-input' %>
        <%= button_tag type: 'submit', class: "btn btn-light" do %>
          <%= octicon 'paper-airplane', class: 'text-success' %>
        <% end %>
    <% end %>
  </td>
</tr>
