<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Destroy question!!!For test: #<%= params[:test_id] %></h1>
    <!-- <h1>Questions: <%= params.inspect %> </h1> -->
    <h3>Questions: <%= @test.questions.inspect %> </h3>

    <form action="destroyed" method="destroyed">
      <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
      Write question_id: <input type="text" name="id" /><br />
  <input type="submit" value="Destroy!" />
  </form>
  <h3>Destroyed? <%= @destroy_question != nil ? @destroy_question.destroyed? : false %> </h3>
  </body>
</html>
