

    <h2> <%= t('.header') %></h2>
    <table class="table table-primary table-striped table-responsive">
      <thead>
        <tr class="table-active">
          <td><%= t('.title') %></td>
          <td><%= t('.level') %></td>
          <td scope="col"><%= t('.questions_amount') %></td>
          <td scope="col"><%= t('.actions') %></td>
        </tr>
      </thead>
      <%= render @tests %>
    </table>
