
<div class="container">
  <div class="form-group">
  <%= form_with local: true, class: "col md-4 mt-4"  do |form| %>


    <%= form.label :message  %>
    <%= form.text_field :message, class: "form-control"%>

    <% if current_user %>

    <%= content_tag :p, "From: #{current_user.email}" %>
    <% else %>

      <%= form.label :email %>
      <%= form.email_field :email, class: "form-control" %>

    <% end %>
        <%= form.submit class: 'btn btn-info mt-4', value: 'Send' %>
  <% end %>
  </div>

</div>
